* {
  margin: 0;
  padding: 0;
  font-family: Nunito, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  height: 60vh;
  width: 100vw;;
}

.lottie {
  background-color: rgba(0,0,0,0.8);
  height: 100%;
}

.lottie-examples {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  width: 80%;
  margin: 0 auto;
  position: relative;
}

.buttons {
  margin: 20px auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.skeleton {
  height: 100%;
  width: 60%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.skeleton-item {
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.name {
  width: 90px;
}

.email {
  width: 180px;
}

.info {
  margin-left: 10px;
}

.profile {
  width: 60px;
  height: 60px;
}

.select-button {
  background: 0;
  outline: 0;
  border: 0;
  padding: 10px 30px;
  margin: 0px 15px;
  border-radius: 10px;
  background-color: rgba(0,0,0,0.8);
  color: white;
  font-weight: 700;
  font-size: 16px;
  transition: all 0.3s;
  cursor: pointer;

  &:hover { opacity: 0.7; }
  &:active { opacity: 0.5; }
}

.selected {
  filter: brightness(0.5);
  &:hover { opacity: 1; }
  &:active { opacity: 1; }
}

.purple-scale {
  width: 80px;
  height: 80px;
  background-color: purple;
}

.bounce {
  width: 50px;
  height: 50px;
  border-radius: 10px;
}

.counter {
  font-weight: 700;
  font-size: 50px;
}

.framer-item {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.framer {
  width: 50%;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.drag-constraint {
  display: flex;
  align-items: center;
  border-radius: 20px;
  width: 400px;
  margin: auto;
  background-color: #b1e8ff;
}

.square {
  border-radius: 20px;
  margin: auto;
  height: 100px;
  width: 100px;
  background-color: #162365;
}